# Build folders
build/
out/
cmake-build-*/
bin/
lib/

# Executables
*.exe
*.out
*.app

# Compiled Object files
*.o
*.obj
*.slo
*.lo

# Compiled Libraries
*.a
*.lib
*.so
*.dll
*.dylib

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
_deps/

# IDE specific
.vscode/
.vs/
.idea/
*.user
*.suo
*.sln.docstates

# OS specific
.DS_Store
Thumbs.db

.cache/
